.text-error-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.text-error-subtitle {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.grid {
  margin-top: 60px;
}
