<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="back-btn">Πίσω</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tab-content">

  <div class="ion-text-center">
    <h1 style="font-weight: 200">Συχνές Ερωτήσεις</h1>
  </div>

  <h5>Που αποθηκεύονται οι κωδικοί μου και τα στοιχεία μου;</h5>
  <p>Επιλέγοντας τη λειτουργία “Να με θυμάσαι” αποθηκεύουμε τους κωδικούς σου και τα στοιχεία σου τοπικά στο κινητό σου, πάντα κρυπτογραφημένα, προσφέροντάς σου τη μέγιστη ασφάλεια!</p>

  <h5>Έχασα τους κωδικούς μου, που θα χρειαστεί να απευθυνθώ;</h5>
  <p>Τα περισσότερα ιδρύματα παρέχουν μια αυτοματοποιημένη υπηρεσία αλλαγής κωδικού σε περίπτωση που τον έχεις ξεχάσει. Διαφορετικά θα πρέπει να απευθυνθείς στη γραμματεία του τμήματός σου.</p>

  <h5>“Κάτι πήγε λάθος, δοκίμασε ξανά αργότερα!” τι σημαίνει;</h5>
  <p>Αν δεις αυτό το μήνυμα κατά τη σύνδεσή σου σημαίνει πως δεν καταφέραμε να σε συνδέσουμε με τη πλατφόρμα του ιδρύματός σου. Αυτό μπορεί να συμβαίνει για πολλούς και διαφορετικούς λόγους. Μερικοί από αυτούς είναι οι παρακάτω:</p>

  <ol style="padding-left: 20px">
    <li>Η πλατφόρμα του ιδρύματός σου δεν λειτουργεί προσωρινά</li>
    <li>Η σύνδεσή σου διακόπηκε λόγω απώλειας σήματος</li>
    <li>Ο ακαδημαϊκός σου λογαριασμός δεν είναι ενεργός</li>
  </ol>

  <p>Αν δεν ισχύει τίποτα από τα παραπάνω πολύ πιθανόν να υπάρχει κάποιο πρόβλημα από τη μεριά μας. Σε αυτή τη περίπτωση μπορείς να μας στείλεις ένα μήνυμα να το κοιτάξουμε παρέα.</p>

  <h5>Η εφαρμογή είναι η επίσημα υποστηριζόμενη από το ίδρυμά μου;</h5>
  <p>Η εφαρμογή UniStudents δεν έχει καμία σχέση με τα ιδρύματα που υποστηρίζει και αποτελεί μια ανεξάρτητη υλοποίηση από φοιτητές για φοιτητές.</p>

  <h5>Βγήκε νέος βαθμός και δε μου ήρθε ειδοποίηση. Γιατί;</h5>
  <p>Να σε ενημερώσουμε πως η λειτουργία αυτή είναι νέα προσθήκη του UniStudents και για την ώρα τρέχει σε δοκιμαστικό επίπεδο. Ελπίζουμε να μην αντιμετωπίσεις κάποιο πρόβλημα, αλλά αν κάτι πάει λάθος βεβαιώσου πως ισχύουν τα παρακάτω:</p>

  <ol style="padding-left: 20px">
    <li>Έχεις ενεργοποιήσει τη λειτουργία “Να με θυμάσαι”</li>
    <li>Έχεις ενεργοποιήσει τις ειδοποιήσεις “Νέος Βαθμός”</li>
    <li>Αν διαθέτεις Xiaomi συσκευή, έχεις δώσει άδεια να λαμβάνεις ειδοποιήσεις για αυτή την εφαρμογή</li>
  </ol>

  <p>Αν έχεις ενεργοποιημένα τα παραπάνω αλλά δεν έλαβες ειδοποίηση στείλε μας ένα μήνυμα να το κοιτάξουμε παρέα.</p>

  <h5>Πως υπολογίζεται ο μέσος όρος μου;</h5>
  <p>Στις περιπτώσεις που ο μέσος όρος σου υπολογίζεται από τη πλατφόρμα του ιδρύματός σου τον παίρνουμε έτοιμο. Ωστόσο στις περιπτώσεις που δεν υπολογίζεται από την επίσημη πλατφόρμα του ιδρύματός σου, τον υπολογίζουμε εμείς λαμβάνοντας πως όλα τα μαθήματα προσμετρώνται στο Μ.Ο σου.</p>

</ion-content>
