<ion-content forceOverscroll="false">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%; align-items: center;">
      <ion-col>
        <div class="ion-text-center">
          <img src="/assets/welcome.svg" width="100%"/>
        </div>
        <h1 style="text-align: center; font-size: 7.5vw">Καλωσόρισες στο <br> UniStudents</h1>
        <p style="text-align: center; margin-bottom: 30px; font-size: 4.5vw">Ο καλύτερος τρόπος να παρακολουθείς τη πρόοδο σου. Έτοιμος;</p>
        <ion-button [routerLink]="['/universities']" expand="block" style="text-transform: none" class="login-btn">
          <span id="inner-text" class="inner-text">Ας Ξεκινήσουμε</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
