.item-interactive.ion-invalid {
  --highlight-background: var(--ion-color-danger) !important;
}

.item-interactive.ion-valid {
  --highlight-background: var(--ion-color-primary) !important;
}

ion-item.invalid-password {
  --border-color: var(--ion-color-danger);
  --highlight-background: var(--ion-color-danger) !important;
}

.passwordIcon {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  margin: 0;
  z-index: 5;
}

ion-input[id="pass"] {
  padding-right: 25px !important;
}

.inner-text {
  position: relative;
  transition: all .3s;
  right: -10px;
  padding-right: 0;
}

.inner-text-transition {
  padding-right: 10px;
  right: 15px;
  transition: all .3s;
}

#spinner {
  width: 25px;
  height: 25px;
}

.spinner {
  position: relative;
  transition: opacity .15s;
  opacity: 0;
}

.spinner-transition {
  opacity: 1;
  transition: opacity .15s;
}

.button-disabled {
  opacity: 1 !important;
}
