.login-content {
  margin-top: 20% !important;
}

.item-interactive.ion-invalid {
  --highlight-background: var(--ion-color-danger) !important;
}

.item-interactive.ion-valid {
  --highlight-background: var(--ion-color-primary) !important;
}

ion-item.invalid-password {
  --border-color: var(--ion-color-danger);
  --highlight-background: var(--ion-color-danger) !important;
}

.passwordIcon {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  margin: 0;
  z-index: 5;
}
