<ion-header>
  <ion-toolbar>
    <ion-title>
      Grades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Εξάμηνο 1
    </ion-list-header>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Δομές Δεδομένων</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">8</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Εισαγωγή Στις Τηλεπικοινωνίες</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">3</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Εκπαιδευτική Ψυχολογία</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">10</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Σήματα και Συστήματα</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">7</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Θεωρία Πληροφορίας</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">6</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Εξάμηνο 2
    </ion-list-header>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Δομές Δεδομένων</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">8</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Εισαγωγή Στις Τηλεπικοινωνίες</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">3</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Εκπαιδευτική Ψυχολογία</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">10</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Σήματα και Συστήματα</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">7</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">ΨΣ-503</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">Θεωρία Πληροφορίας</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">Υποχρεωτικό | ΙΟΥΛ 2016-2017</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
            <h2 class="text-xl">6</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </ion-list>

</ion-content>
