<ion-header>
  <ion-toolbar>
    <ion-title>
      Βαθμολογία
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab-content">

  <ion-refresher slot="fixed" (ionRefresh)="refreshGrades($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let semester of grades?.semesters">
    <ion-list-header>
      <h2 class="text-header">Εξάμηνο {{ semester.id }}</h2>
    </ion-list-header>
    <ion-card class="card" *ngFor="let course of semester?.courses">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-row>
              <h6 class="text-sm">{{ course.id }}</h6>
            </ion-row>
            <ion-row>
              <h3 class="text-lg">{{ course.name }}</h3>
            </ion-row>
            <ion-row>
              <h6 class="text-sm">{{ course.type }} | {{ course.examPeriod }}</h6>
            </ion-row>
          </ion-col>
          <ion-col size="2">
<!--            <span *ngIf="storageService.newGradesList.includes(course.id)" class="notify-badge">NEW</span>-->
            <svg *ngIf="storageService.newGradesList.includes(course.id)" class="heart" viewBox="0 0 32 29.6">
              <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
            </svg>
              <h2 class="text-xl">{{ course.grade }}</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
