.text-header {
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-transform: none;
}

.text-sm {
  font-size: 12px;
  margin: 5px 0;
}

.text-lg {
  font-size: 20px;
  margin: 0;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-xl {
  font-size: 32px;
  text-align: center;
  color: #657BFF;
}

.text-error-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.text-error-subtitle {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.notify-badge {
  position: absolute;
  right: 0;
  top: 0;
  background: #EF4141;
  text-align: center;
  border-radius: 30px;
  color: #ffffff;
  padding: 5px;
  font-size: 7px;
}
