.text-header {
  font-size: 17px;
  font-weight: bold;
  text-transform: none;
}

.text-sm {
  font-size: 12px;
  margin: 5px 0;
}

.text-lg {
  font-size: 15px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-xl {
  font-size: 30px;
  text-align: center;
  margin-top: 14px;
}

@media only screen and (max-width: 320px) {
  .text-xl  {
    font-size: 23px;
    margin-top: 18px;
  }
}

.text-error-title {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.text-error-subtitle {
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.notify-badge {
  position: absolute;
  right: 0;
  top: 0;
  background: #EF4141;
  text-align: center;
  border-radius: 30px;
  color: #ffffff;
  padding: 5px;
  font-size: 7px;
}

ion-list {
  background: none;
}

h2.text-header {
  margin-bottom: 0;
}

.md .hydrated {
  .card {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.chip {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.3);
}

ion-spinner {
  width: 20px;
  height: 20px;
}
