<ion-header>
    <ion-toolbar>
        <ion-title>
            Dashboard
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="tab-content">

    <ion-grid class="info-grid">
        <ion-row class="info-row">
            <ion-col class="info-col">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h1 class="text-lg">Συνδεθήκατε ως</h1>
                                <h1 class="text-xl">Νίκος Σκλαβούνος</h1>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="info-row">
            <ion-col class="info-col">
                <ion-card class="card info-card">
                    <canvas #lineCanvas></canvas>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="info-row">
            <ion-col class="info-col left" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">29</p>
                                <p class="text-sm">Περασμένα μαθήματα</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col class="info-col middle" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">7.56</p>
                                <p class="text-sm">Μέσος Όρος</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col class="info-col right" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">103</p>
                                <p class="text-sm">ECTs</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
