<ion-header>
    <ion-toolbar>
        <ion-title>
            Αρχική
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="tab-content">
    <ion-grid class="info-grid">
        <ion-row class="info-row">
            <ion-col class="info-col">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h2 class="text-lg">Συνδεθήκατε ως</h2>
                                <h1 class="text-xl">{{ student?.info.firstName }} {{ student?.info.lastName }}</h1>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="info-row">
            <ion-col class="info-col">
                <ion-card class="card info-card">
                    <canvas #lineCanvas></canvas>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="info-row">
            <ion-col class="info-col left" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">{{ student?.grades.totalPassedCourses }}</p>
                                <p class="text-sm">Περασμένα μαθήματα</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col class="info-col middle" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">{{ student?.grades.totalAverageGrade }}</p>
                                <p class="text-sm">Μέσος Όρος</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col class="info-col right" size="4">
                <ion-card class="card info-card">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <p class="lg-info">{{ student?.grades.totalEcts }}</p>
                                <p class="text-sm">ECTs</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="info-row">
            <ion-col class="info-col">
                <ion-card class="card info-card">
                    <canvas #doughnutCanvas height="250" class="pie-canvas"></canvas>
                </ion-card>
            </ion-col>
        </ion-row>
<!--        <ion-row class="info-row">-->
<!--            <ion-col class="info-col">-->
<!--                <ion-card class="card info-card">-->
<!--                    <canvas #pieCanvas height="250" class="pie-canvas"></canvas>-->
<!--                </ion-card>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
    </ion-grid>
</ion-content>
