<ion-header>
  <ion-toolbar>
    <ion-title>
      Προφίλ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab-content">
  <ion-grid class="info-grid">
    <ion-row class="info-row">
      <ion-col class="info-col">
        <ion-card class="card info-card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="ribbon"></ion-icon>
                  <ion-label>{{ student?.info.aem }}</ion-label>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="contact"></ion-icon>
                  <ion-label>{{ student?.info.firstName }} {{ student?.info.lastName }}</ion-label>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="business"></ion-icon>
                  <ion-label>{{ student?.info.departure }}</ion-label>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="calendar"></ion-icon>
                  <ion-label>{{ student?.info.registrationYear }}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="logoutAlert()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
