<ion-header>
  <ion-toolbar>
    <ion-title>
      Προφίλ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tab-content">
  <ion-grid class="info-grid">
    <ion-row class="info-row">
      <ion-col class="info-col">
        <ion-card class="card info-card">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="ribbon"></ion-icon>
                  <span class="text">{{ student?.info.aem }}</span>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="contact"></ion-icon>
                  <span class="text">{{ student?.info.firstName }} {{ student?.info.lastName }}</span>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="business"></ion-icon>
                  <span class="text">{{ student?.info.departure }}</span>
                </ion-item>
                <ion-item lines="none" color="white" no-padding>
                  <ion-icon class="icon" name="calendar"></ion-icon>
                  <span class="text">{{ student?.info.registrationYear }}</span>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="info-row">
      <ion-col class="info-col">
        <ion-list>
          <ion-item-divider no-padding>
            <ion-label>
              Ρυθμίσεις
            </ion-label>
          </ion-item-divider>
          <ion-item no-padding lines="none" button>
            <ion-icon class="icon" color="#000" name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
          <ion-item no-padding button>
            <ion-icon class="icon" color="#000" name="help-circle"></ion-icon>
            <ion-label>FAQ</ion-label>
          </ion-item>
          <ion-item no-padding (click)="presentAlert()" button>
            <ion-icon slot="end" name="log-out" color="danger"></ion-icon>
            <ion-label>Αποσύνδεση</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
