.info-grid {
  margin: 0 16px;
  padding: 0;
}

.info-row {
  margin: 12.5px 0 10px;
}

.info-col {
  padding: 0;
}

.version {
  font-style: italic;
  margin: 0;
  text-align: right;
  color: #a2a4ab;
}

.info-card {
  margin: 0;
  height: 100%;
}

.icon {
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  color: #657BFF;
  margin-right: 8px;
}

.text{
  display: inline-block;
  vertical-align: middle;
  color: #666666;
}
