<ion-header>
  <ion-toolbar>
    <ion-title>Ρυθμίσεις</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" class="back-btn">Πίσω</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tab-content">

  <ion-list>
    <ion-list-header style="margin-top: 15px" class="header">
      <ion-text color="primary">Λογαριασμός</ion-text>
    </ion-list-header>

    <ion-item lines="none" class="settings-item">
      <ion-label>
        Να με θυμάσαι
      </ion-label>
      <ion-toggle [(ngModel)]="rememberMe" id="rememberMeToggle" slot="end" (ionChange)="toggleRememberMe()"></ion-toggle>
    </ion-item>

    <ion-list-header style="margin-top: 15px" class="header">
      <ion-text color="primary">Ειδοποιήσεις</ion-text>
    </ion-list-header>

    <ion-item lines="none" class="settings-item">
      <ion-label>
        Νέος Βαθμός  <ion-text class="beta">BETA</ion-text>
      </ion-label>
      <ion-toggle [(ngModel)]="newGrade" id="newGradeToggle" slot="end" [disabled]="!rememberMe" (ionChange)="toggleNewGrade()"></ion-toggle>
    </ion-item>

    <ion-item lines="none" class="settings-item">
      <ion-label>
        Ενημερώσεις UniStudents
      </ion-label>
      <ion-toggle [(ngModel)]="appUpdates" id="appUpdatesToggle" slot="end" (ionChange)="toggleAppUpdates()"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
