<ion-header *ngIf="!isAndroid" translucent="true">
  <ion-toolbar>
    <ion-title>Ίδρυμα</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header *ngIf="!isAndroid" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ίδρυμα</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col>
        <h1 *ngIf="isAndroid" style="margin: 16px; font-weight: bold; font-size: 7vw">Ίδρυμα</h1>
        <ion-card (click)="action('UOA')" mode="ios">
          <ion-grid>
            <ion-row style="height: 100%; align-items: center;">
              <ion-col size="3" class="ion-text-center">
                <img src="/assets/ekpa-logo.png" width="70%"/>
              </ion-col>
              <ion-col size="7">
                <h1 class="uni-name">Εθνικό Καποδιστριακό <br> Πανεπιστήμιο</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card (click)="action('UNIWA')" mode="ios">
          <ion-grid>
            <ion-row style="height: 100%; align-items: center;">
              <ion-col size="3" class="ion-text-center">
                <img src="/assets/uniwa-logo.png" width="70%"/>
              </ion-col>
              <ion-col size="7">
                <h1 class="uni-name">Πανεπιστήμιο <br> Δυτικής Αττικής</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card (click)="action('UNIPI')" mode="ios">
          <ion-grid>
            <ion-row style="height: 100%; align-items: center;">
              <ion-col size="3" class="ion-text-center">
                <img src="/assets/unipi-logo.png" width="70%"/>
              </ion-col>
              <ion-col size="7">
                <h1 class="uni-name">Πανεπιστήμιο <br> Πειραιώς</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <ion-card (click)="action('PANTEION')" mode="ios">
          <ion-grid>
            <ion-row style="height: 100%; align-items: center;">
              <ion-col size="3" class="ion-text-center">
                <img src="/assets/panteion-logo.png" width="70%"/>
              </ion-col>
              <ion-col size="7">
                <h1 class="uni-name">Πάντειο <br> Πανεπιστήμιο</h1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
